<% if @travel %>

<p>
  <strong>Travelling to: <%= @travel.destination.name %></strong>
</p>

<p>
  Arrival in: <%= @travel.arrival_in.to_s(:countdown) %>
</p>

<% else %>

<h2>Travel to...</h2>
<%= form_for(Travel.new) do |f| %>
  <p>
    <%= f.label :x_dest %><br />
    <%= f.text_field :x_dest %>
  </p>

  <p>
    <%= f.label :y_dest %><br />
    <%= f.text_field :y_dest %>
  </p>

  <p>
    <%= f.submit 'Travel' %>
  </p>
<% end %>

<% end %>
