<%= render :partial => "game_area/overview" %>

<% if @travel %>

<p>
  <strong>Travelling to: <%= @travel.destination.name %></strong>
</p>

<p>
  Arrival in: <%= @travel.arrival_in.to_s(:countdown) %>
</p>

<% else %>

<h2>Travel to...</h2>
<% form_for(current_starship) do |f| %>
  <p>
    <%= f.label :x_pos %><br />
    <%= f.text_field :x_pos %>
  </p>
  
  <p>
    <%= f.label :y_pos %><br />
    <%= f.text_field :y_pos %>
  </p>

  <p>
    <%= f.submit 'Travel' %>
  </p>
<% end %>

<% end %>
