<div id="trade_setting">
<p>
  Selling <%= type %> downto a supply of
  <%= f.text_field "selling_#{type}", :maxlength => 3 %>
  à <%= f.text_field "selling_#{type}_price", :maxlength => 3 %> cr.
  <%= f.check_box "enable_selling_#{type}" %> enabled
</p>

<p>
  Buying <%= type %> upto a supply of
  <%= f.text_field "buying_#{type}", :maxlength => 3 %>
  à <%= f.text_field "buying_#{type}_price", :maxlength => 3 %> cr. max.
</p>
</div>
