<h2>Trade Settings</h2>
<% form_for(@trade_settings) do |f| %>
  <p>
    <%= f.label :buying_durasteel %>
    <%= f.text_field :buying_durasteel %>
    <%= f.label :buying_durasteel_price %>
    <%= f.text_field :buying_durasteel_price %> |
    <%= f.label :selling_durasteel %>
    <%= f.text_field :selling_durasteel %>
    <%= f.label :selling_durasteel_price %>
    <%= f.text_field :selling_durasteel_price %>
  </p>
  
  <p>
    <%= f.label :buying_plasteel %>
    <%= f.text_field :buying_plasteel %>
    <%= f.label :buying_plasteel_price %>
    <%= f.text_field :buying_plasteel_price %> |
    <%= f.label :selling_plasteel %>
    <%= f.text_field :selling_plasteel %>
    <%= f.label :selling_plasteel_price %>
    <%= f.text_field :selling_plasteel_price %>
  </p>
  <p>
    <%= f.label :buying_tibanna %>
    <%= f.text_field :buying_tibanna %>
    <%= f.label :buying_tibanna_price %>
    <%= f.text_field :buying_tibanna_price %> |
    <%= f.label :selling_tibanna %>
    <%= f.text_field :selling_tibanna %>
    <%= f.label :selling_tibanna_price %>
    <%= f.text_field :selling_tibanna_price %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
