<h2>Your Trade Settings</h2>
<% if @trade_settings.buying_durasteel > 0 %>
<p>
  Buying durasteel up to a supply of <%= @trade_settings.buying_durasteel %>
  - Price: <%= @trade_settings.buying_durasteel_price %> cr.
</p>
<% end %>

<% if @trade_settings.buying_plasteel > 0 %>
<p>
  Buying plasteel up to a supply of <%= @trade_settings.buying_plasteel %>
  - Price: <%= @trade_settings.buying_plasteel_price %> cr.
</p>
<% end %>

<% if @trade_settings.buying_tibanna > 0 %>
<p>
  Buying tibanna up to a supply of <%= @trade_settings.buying_tibanna %>
  - Price: <%= @trade_settings.buying_tibanna_price %> cr.
</p>
<% end %>

<% if @trade_settings.selling_durasteel > 0 %>
<p>
  Selling durasteel up to a supply of <%= @trade_settings.selling_durasteel %>
  - Price: <%= @trade_settings.selling_durasteel_price %> cr.
</p>
<% end %>

<% if @trade_settings.selling_plasteel > 0 %>
<p>
  Selling plasteel up to a supply of <%= @trade_settings.selling_plasteel %>
  - Price: <%= @trade_settings.selling_plasteel_price %> cr.
</p>
<% end %>

<% if @trade_settings.selling_tibanna > 0 %>
<p>
  Selling tibanna up to a supply of <%= @trade_settings.selling_tibanna %>
  - Price: <%= @trade_settings.selling_tibanna_price %> cr.
</p>
<% end %>
