<%= render :partial => "game_area/overview" %>

<% unless @starsystem.nil? %>

<% if @starsystem.planet %>

<h2>Planet</h2>
<strong><%= @starsystem.planet.name %></strong>

<% end %>

<h2>Starships</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>

  <% for starship in current_starship.starships_on_same_position %>
    <tr>
      <td><%= starship.name %></td>
    </tr>
  <% end %>
</table>

<% else %>

<strong>Travelling to <%= current_starship.destination.name %></strong>

<% end %>

<%= link_to "Logout", logout_path %>
