<h2>Starships</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>

  <% for starship in current_starship.starships_on_same_position %>
    <tr>
      <td>Name</td>
      <td>Selling durasteel</td>
      <td>Selling plasteel</td>
      <td>Selling tibanna</td>
      <td>Buying durasteel</td>
      <td>Buying plasteel</td>
      <td>Buying tibanna</td>
    </tr>
    
    <tr>
      <td><%= starship.name %></td>
      <td><%= starship.selling_amount('durasteel') %></td>
      <td><%= starship.selling_amount('plasteel') %></td>
      <td><%= starship.selling_amount('tibanna') %></td>
      <td><%= starship.buying_amount('durasteel') %></td>
      <td><%= starship.buying_amount('plasteel') %></td>
      <td><%= starship.buying_amount('tibanna') %></td>
    </tr>
  <% end %>
</table>
