<h2>Starship List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Selling</th>
    <th>Buying</th>
  </tr>

  <% for starship in current_starship.starships_on_same_position %>
    <tr>
      <td><%= starship.name %></td>
      <td>
      <% for type in %w(durasteel plasteel tibanna) %>
      <% if starship.selling?(type) %>
      <%= type %>:
      <%= starship.selling(type)  %>
      <% end %>
      <% end %>
      </td>
      <td>
      <% for type in %w(durasteel plasteel tibanna) %>
      <% if starship.buying?(type) %>
      <%= type %>:
      <%= starship.buying(type)  %>
      <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
