<h2>Starship List</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Selling</th>
    <th>Buying</th>
  </tr>

  <% for starship in current_starship.starships_on_same_position %>
    <tr>
      <td><%= starship.name %></td>
      <td>
      <% for type in %w(durasteel plasteel tibanna) %>
      <% unless starship.selling_amount(type).eql?(0) %>
      <%= type %>:
      <%= starship.selling_amount(type)  %>
      <% end %>
      <% end %>
      </td>
      <td>
      <% for type in %w(durasteel plasteel tibanna) %>
      <% unless starship.buying_amount(type).eql?(0) %>
      <%= type %>:
      <%= starship.buying_amount(type)  %>
      <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
