<p>
  <strong><%= current_user.starship.name %></strong>
</p>

<p>
<% if current_user.starship.travelling? %>
  In Hyperspace
<% else %>
  Position: <%= current_user.starship.position %>
<% end %>
  | <%= Time.zone.now %>
</p>

<p>
  Credits: <%= current_user.starship.credits %> |
  Durasteel: <%= current_user.starship.durasteel %> |
  Plasteel: <%= current_user.starship.plasteel %> |
  Tibanna: <%= current_user.starship.tibanna %>
</p>
