<p>
  <strong><%= starship.name %></strong>
</p>

<p>
  Durasteel: <%= starship.durasteel %> |
  Plasteel: <%= starship.plasteel %> |
  Tibanna: <%= starship.tibanna %> |
  <%= starship.credits %> cr.
</p>

<p>
  Position: <%= starship.starsystem %>
</p>
