<%= link_to "Logout", logout_path %>

<p>
  <strong><%= @starship.name %></strong>
</p>

<p>
<% if @starship.travelling? %>
  In Hyperspace
<% else %>
  Position: <%= @starship.position %>
<% end %>
  | <%= Time.zone.now %>
</p>

<p>
  Credits: <%= @starship.credits %> |
  Durasteel: <%= @starship.durasteel %> |
  Plasteel: <%= @starship.plasteel %> |
  Tibanna: <%= @starship.tibanna %>
</p>

<%= link_to "New Travel", new_travel_path %>

<%= link_to "Show Planet", planet_path(:current) %>

<%= link_to "List Starships", starships_path %>

<%= link_to "Edit Trade Settings", edit_trade_settings_path(:current) %>

<%= link_to "Show Trade Settings", trade_settings_path(:current) %>
